:root {
  --body-bg: #fddcd2;

  --header-bg: #141414;
  --header-text: #ec6cd5;

  --main-bg: #fddcd2;
  --main-text: #131213;
  --main-title-bg: #ec6cd5;

  --card-bg: #9fe757;
  --card-text: #201e1d;
}
